$primary-color: #0d0d6d;
$secondary-color: #697ab1;

$lightGrey: #c9c9c9;

$errorBGcolor: #f8d7da;
$errorTextColor: #721c24;
$errorBorderColor: #f5c6cb;

$warningBGcolor: #fff3cd;
$warningTextColor: #856404;
$warningBorderColor: #ffeeba;

$successBGcolor: #d4edda;
$successTextColor: #155724;
$successBorderColor: #c3e6cb;
