@use 'colors';

@mixin colortemplate($BGcolor, $borderColor, $textColor){
    background-color: $BGcolor;
    border-color: $borderColor;
    color: $textColor;
}

.card{
    border: 1px solid colors.$lightGrey;
    padding: 1rem;
    flex: 1 1 calc(31% - 20px);
    min-width: 250px;
    border-radius: 5px;

    @extend %box-shadow;
}

%box-shadow{
    box-shadow: 10px 10px 20px colors.$lightGrey;
}

.success{
    @extend .card;
    @include colortemplate(colors.$successBGcolor, colors.$successBorderColor, colors.$successTextColor);
}

.warning{
    @extend .card;
    @include colortemplate(colors.$warningBGcolor, colors.$warningBorderColor, colors.$warningTextColor);
}

.error{
    @extend .card;
    @include colortemplate(colors.$errorBGcolor, colors.$errorBorderColor, colors.$errorTextColor);
}